@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
.black-ops-one-regular {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Domine:wght@400..700&display=swap');
  
.domine-regular {
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
/* The navbar */
.topnav {
  overflow:hidden;
}
.topnav a {
  float: left;
  color:gold;
  text-align: center;
  padding: 11px 14px;
  text-decoration: none;
  font-size: 10px;
  font-family:  "Black Ops One";
}

.topnav a:hover {
  color:slateblue;
}
.topnav a.logo {
    font-size: 18px;
    font-weight: bold;
    font-family:"Black Ops One";
  }
  
  .topnav a:hover {
    color:slateblue;
  }


body {

    font-family:"Domine", serif;
    background-image:url(faith-crabtree-mZMq5_Oi5Hs-unsplash.jpg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  align-self:flex-start ;
    width:100%;
    margin: 40px auto;
    padding-top: 20px;
 background:transparent;  
    text-align: center;
}
.city-input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-btn {
    font-family:"Black Ops One";
    padding: 10px 20px;
    border: none;
    background:forestgreen;
    color:ivory;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
}

.search-btn:hover {
    background:lawngreen;
}


.loading-spinner {
  overflow: hidden;
  vertical-align:middle;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 20px;
    height: 20px;
    display: none;
    border-radius: 50%;
    border: 15px solid gray;
    border-top: 16px solid ivory;
    position:absolute;
    animation: spin 3s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.weather-cards {

    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:  #66A5AD;
}

.card {

    color: lavender;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 150px;
    background: teal;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details {
  color: teal;
    margin-bottom: 10px;
}

.icon img {
    width: 50px;
}

.icon h4 {
    margin-top: 5px;
}

.current-weather .details h2 {
  color:teal;
    font-size: 24px;
    font-family: "Domine", serif;
    margin-bottom: 10px;
    border-radius: 3px;

}

.current-weather .details h4 {
    margin: 5px 0;
    color: teal;
    font-family: "Domine", serif;
}

.current-weather .icon img {
    width: 100px;
}

.current-weather .icon h4 {
    font-size: 18px;
    font-family: "Domine", serif;
    margin-top: 10px;
}

.social-icon{
    color:white;
    float:inline-end;
    font-size: 20px;
    padding-bottom: 2px;
    padding-left: 10px;
  }
.ion-icon {
    font-size: 30px;
  }
  
  .social-icon:hover{
    color:silver;
  }
  .p1{
    font-weight: 400;
     font-family: "Black Ops One"
  }
  
    .temp-toggle {
      margin-top: 20px;
  }
  
  .temp-btn {
      padding: 10px 15px;
      margin: 0 5px;
      border: none;
      background:forestgreen;
      color:ivory; 
      cursor: pointer;
      border-radius: 50%;
      transition: background 0.3s;
  }
  
  .temp-btn:hover {
      background:lawngreen;
  }
  
  .section{
    background: linear-gradient(to bottom,transparent, #33ccff 90%)
  }
  /* Media Queries */
  @media (max-width: 600px) {
      .container {
          margin: 20px;
          padding: 15px;
      }
  
      .card {
          width: 100%;
          margin: 10px 0;
      }
  }
